<p class="contact-me rounded border border-solid border-slate-700 p-4">
  Quer conversar sobre este artigo? Mande-me uma
  <a href="mailto:7pa1gevhw@mozmail.com?Subject=Comment: [<%= data.settings.blog.title %>] <%= current_article.title %>">mensagem</a>.
</p>
