<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container p-20 mx-auto">
    <div class="text-center mb-10">
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-white mb-4"><%= data.settings.blog.name %></h1>
      <!-- subtitulo para o meu blog -->
      <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-400"><%= data.settings.blog.description %></p>
      <div class="flex mt-6 justify-center">
        <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
      </div>
    </div>
  </div>
</section>

